.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.menu {
    display: flex;
    gap: 80px;
}

.circles {
    display: flex;
    gap: 16px;
}