.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.circles {
    display: flex;
    gap: 16px;
}

.inputButton {
    max-width: 500px;
    display: flex;
    gap: 16px;
}